[Desktop Entry]
Name=Melo
Comment=Fast, beautiful desktop email client
Exec=melo
Icon=com.melomail.app
Type=Application
Categories=Network;Email;
StartupWMClass=Melo
StartupNotify=true
